@font-face {
    font-family: Inter;
    src: url(../fonts/static/Inter_18pt-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: rgba(255, 88, 185, 0.603);
}
.forum{
    border-radius: 5px;
    padding: 40px;
    width: 600px;
    height: 550px;
    margin-top: 180px;
    background-color: #fff;
}
label{
    margin-top: 40px;
    display: flex;
    color: grey;
    font-size: 12px;
    flex-direction: column;
}
h3{
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
input{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}
input:focus{
    border-bottom: 1px solid rgb(255, 0, 212);
}
button{
    margin-top: 40px;
    background: rgb(255, 88, 185);
    border: none;
    color: white;
    height: 40px;
    width: 200px;
    margin-left: 28%;
    border-radius: 7px;
}
